body {
    font-family: 'Sofia Pro',  'Helvetica Neue', 'sans-serif';
    background-color: #EFF0F6;
    padding: 0;
    margin: 0 auto;
    min-height: 100vh;
}

.right-enter {
    opacity: 0;
    transform: translateX(100%);
}
.right-enter-active {
    opacity: 1;
    transform: translateX(0%);
}
.right-exit  {
    opacity: 1;
    transform: translateX(0%);
}
.right-exit-active {
    opacity: 0;
    transform: translateX(-100%);
}

.left-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.left-enter-active {
    opacity: 1;
    transform: translateX(0%);
}
.left-exit  {
    opacity: 1;
    transform: translateX(0%);
}
.left-exit-active {
    opacity: 0;
    transform: translateX(100%);
}
.left-enter-active ,
.left-exit-active,
.right-enter-active ,
.right-exit-active {
    transition: opacity 500ms, transform 500ms;
}


